<html>
<head>
    <title>Komutan</title>
    <style>
    .square {
        width: 100px;
        height: 75px;
        border: 1xp dashed #929292;
    }
    </style>
</head>
<body>
{{range .}}
    <a href="#" class="square">{{.Categories}}</a>
{{end}}

</body>
</html>