<html>
<head>
	<title>Komutan</title>
</head>
<body>
{{range .}}
<form action="/run" method="POST" enctype="application/x-www-form-urlencoded" >
    <div> Desc: {{.Description}}</div>
    <div> App: {{ .Application }}</div>
    <input type="hidden" name="app" value="{{ .Application }}">
    {{/*{{range $i, $_ := .FormObject}}*/}}

    {{- range .FormObject}}
    
        {{- if eq .Object "input" }}
            <div>{{.Label}}:
                <input type="{{.Type}}" name="params" value="{{.Value}}" maxlength="{{if gt .Maxlength 0}}{{.Maxlength}}{{end}}" placeholder="{{.Placeholder}}" size="{{.Size}}" style="{{.Style}}" {{if .Required}}required{{end}} {{if .Checked}}checked{{- end}}>
            </div>
        {{end -}}

        {{- if eq .Object "select" }}
            <div>{{.Label}}: 
                <select name="params" style="{{.Style}}" {{if .Multiple}}multiple{{end}} {{if .Required}}required{{end}}>
                    {{range .Options}}
                        <option value="{{.Value}}" {{if .Selected}}selected{{end}}>{{if eq .Label ""}}{{.Value}}{{end}}{{.Label}}</option>
                    {{end}}
                </select>           
            </div>
        {{end -}}
        
    {{end -}}
    <input type="submit" value="Run">
</form>
{{end}}

</body>
</html>