<!-- register.html -->
{{if .Success}}
    <h1>Registration is complate!</h1>
{{else}}
    <h1>Register</h1>
    <form method="POST" action="/register">
        <label>Username:</label><br />
        <input type="text" name="username"><br />
        <label>Password:</label><br />
        <input type="text" name="password"><br />
        <input type="submit">
    </form>
{{end}}